*{
    margin:0;
    padding:0;
}
@font-face{
    font-family:'Antoine';
    src: url('../police/AntoineLight-z8rGL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
nav{
    background-color: rgba(44, 43, 31, 0.51);
    font-size: 24px;
    text-align:center;
    padding: 1%;
}

nav a{
    color: white;
    padding: 33px;
    font-family: Antoine, sans-serif;
}

#Home{
    float: left;
    background-color: bisque;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 span {
    color: black;
    margin-top: 40px;
    font-size: 50px;
    margin-left: 20px;
    background-color: #b1a2c4;
}

h1{
    margin-top:40px;
    font-family: Antoine,sans-serif;

}

h2 span{
    color:black;
    font-family: Antoine,sans-serif;
    margin-left: 30px;
    background-color: #f4ebbf;
}

h2{
    margin-top: 20px;
}

#Source{ /* Partie en pied de page où il y a les sources*/
    display: flex; /* Chaque élément sera une ligne */
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #93938d;
}

.Liste{ /* La liste avec les sources des images. C'est partir est une class qui permet de d'avoir la propriété pour plusieurs éléments. Dont les deux listes*/
    display: flex;
    margin-left: 10px;
    color: white;
    font-family: Noto Sans, sans-serif;
}

footer h1{
    color: white;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 20px;
    font-family: Noto Sans, sans-serif;
}

footer ul{
    list-style-position: inside;
    font-family: Noto Sans, sans-serif;
}


footer a{
    display: flex;
    color: white;
    font-family: Noto Sans, sans-serif;
    font-size: 13px;
}

footer p{
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    color: white;
    font-family: Noto Sans, sans-serif;
}