/********** Section Bandeau **********/
#titre-bandeau
{
    text-align: center;
    font-size: 4em; /* Meme chose qu'au dessus. */
    margin-left:23%;
    margin-right:23%;
    background: darkseagreen;
    font-family: Molin, serif;
    font-weight: bold;
}

#bandeau
{
    background: rgba(37, 45, 36, 0.12);
    padding-top: 5%;
    padding-bottom: 5%;
}

/********** Section Contenu **********/
/* Pour eviter de répéter les mêmes propriétés pour les images et les logos dans les media queries. */
.Logo img {width: 100%;}
.contenu-image-logo {display: grid; background: rgba(37, 45, 36, 0.12);}
#image-logo {display: flex; justify-content: center;}

/* Les media queries permettent de rendre le site responsive. Ils permettent de changer les propriétés css en fonction de la taille de l'écran. */
/* Very little screen (mobile) */
@media screen and (max-width: 480px)
{
    /* 1 colonne pour les images et les logos au lieu de 4*/
    .contenu-image-logo {grid-template-columns: repeat(1, 150px);}
    .Logo {height: 140px; margin: 3px;}
    #image-logo {margin-top: 3px; height: 1200px;}
}

/* Little screen (tablet) */
@media screen and (max-width: 768px) and (min-width: 481px)
{
    /* 2 colonnes pour les images et les logos au lieu de 4, et une taille plus petite pour les images */
    .contenu-image-logo {grid-template-columns: repeat(2, 150px);}
    .Logo {height: 140px; margin: 3px;}
    #image-logo {margin-top: 3px; height: 600px;}
}

/* Medium screen (little laptop) */
@media screen and (min-width: 769px) and (max-width: 1279px)
{
    /* 2 colonnes pour les images et les logos au lieu de 4 */
    .contenu-image-logo {grid-template-columns: repeat(2, 190px);}
    .Logo {height: 180px; margin: 4px;}
    #image-logo {margin-top: 4px; height: 760px;}
}

/* Large screen (laptop and little desktop) */
@media screen and (min-width: 1280px) and (max-width: 1919px)
{
    /* Disposition classique avec une legere reduction de la taille des images */
    .contenu-image-logo {grid-template-columns: repeat(4, 190px);}
    .Logo {height: 180px; margin: 4px;}
    #image-logo {margin-top: 4px; height: 380px;}
}

/* Extra large screen (desktop) */
@media screen and (min-width: 1920px) and (max-width: 2499px)
{
    /* Disposition classique */
    .contenu-image-logo {grid-template-columns: repeat(4, 220px);}
    .Logo {height: 200px; margin: 5px;}
    #image-logo {margin-top: 5px; height: 440px;}
}

/* Very large screen (21/9 screen, 2k or more screen...) */
@media screen and (min-width: 2500px)
{
    /* Disposition classique mais avec des images plus grandes pour les grands écrans */
    .contenu-image-logo {grid-template-columns: repeat(4, 420px);}
    .Logo {height: 400px; margin: 10px;}
    #image-logo {margin-top: 10px;}
}