*{margin:0; padding:0; font-weight: normal;}
/* Quand il n'y a pas beaucoup de propriétés et que la compréhension est facile, on peut mettre plusieurs propriétés sur la même ligne. */

/********** Section Police **********/
@font-face
{
    font-family:'Molin';
    src: url('police/Molin-8MmOz.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family:'Antoine';
    src: url('police/AntoineLight-z8rGL.woff2') format('woff2');
    font-weight: auto;
    font-style: auto;
}

/********** Section Navigation **********/
nav
{
    background-color: rgba(44, 43, 31, 0.51);
    font-size: 1.5em; /* Il vaut mieux mettre une taille de police en em pour que le site soit responsive. */
    text-align:center;
    padding: 1%;
}

nav a
{
    padding: 2%;/* Le pourcentage permet de s'adapter à la taille de l'écran, contrairement au pixel. */
    color: white;
    font-family: Antoine, serif;
}

#Home {float: left; background-color: bisque; height: 30px;} /* J'ai laissé la hauteur en pixel car elle me semble cohérente, quel que soit l'écran. */

/********** Section Pied de page **********/
/* Comme le footer est petit et fonctionne très bien avec les resolution a partir de 260px, il n'y a pas besoin de le rendre responsive. */
#Source
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    background-color: #93938d;
}

.Liste
{
    display: flex;
    margin-left: 10px;
    color: white;
    font-family: Noto Sans, sans-serif;
}

footer h1
{
    color: white;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 20px;
    font-family: Noto Sans, sans-serif;
}

footer ul
{
    list-style-position: inside;
    font-family: Noto Sans, sans-serif;
}


footer a
{
    display: flex;
    color: white;
    font-family: Noto Sans, sans-serif;
    font-size: 13px;
}

footer p
{
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    color: white;
    font-family: Noto Sans, sans-serif;
}